.overlay{
    position: fixed;
    width: 50%;
    height: max-content;
    border-radius: 10px; 
    background:#555;
    top: 3rem;
    left: 25%;
    box-shadow: 0 8px 10px #685454;
    z-index: 100;
}