.overlay{
    position: fixed;
    width: 50%;
    height: max-content;
    border-radius: 3px; 
    background:#c2c2c2;
    top: 3rem;
    left: 20%;
    box-shadow: 0 8px 10px #685454;
    z-index: 100;
}